<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Недвижимость в Москве и Подмосковье – ГдеЭтотДом.РУ
    link(rel="stylesheet", href="css/style.css")
  body
    header
      nav.menu
        .container
          .menu__wrap
            .menu__text Москва и МО
            nav.menu__item
              a.menu__link(href='#') С.-Петербург и ЛО
            nav.menu__item
              a.menu__link(href='#') Другие регионы
            nav.menu__item
              a.menu__link(href='#') Зарубежная недвижимость
            nav.menu__item
              a.menu__link(href='#') Поиск по карте
          .menu__wrap
            nav.menu__item.menu__item_advt
              a.menu__link(href='#') Разместить объявление
            nav.menu__item.menu__item_reg
              a.menu__link(href='#') Зарегестрироваться
            nav.menu__item.menu__item_join
              a.menu__link.menu__link_bor(href='#') Войти
      nav.headermenu
        .container
          .headermenu__wrap
            a(href='/')
              img.headermenu__logo(src='/img/GED-Logo.svg')
            nav.headermenu__item
              a.headermenu__link.headermenu__link_bor(href='#') Продажа
            nav.headermenu__item
              a.headermenu__link.headermenu__link_bor(href='#') Аренда
            nav.headermenu__item
              a.headermenu__link.headermenu__link_col(href='#') Спецпредложения
            nav.headermenu__item
              a.headermenu__link(href='#') Новостройки
            nav.headermenu__item
              a.headermenu__link(href='#') Поселки
            nav.headermenu__item
              a.headermenu__link(href='#') Риэлторы
            nav.headermenu__item
              a.headermenu__link(href='#') Журнал
            a(href='#')
              img.headermenu__logoabsolut(src='/img/Absolut-Logo.svg')
          img.headermenu__banner(src='/img/banner.jpg')
    .content
      .container
        .content__main
          .content__mainbor
            .content__mainwrap
              .content__stock
                a(href='#').content__linkback Новостройки
                a(href='#').content__linkback >
                a(href='#').content__linkback Акции и предложения
                .content__secondarywrap
                  .content__header ВТБ 24 прделагает покупателям "Пресня Сити", "Басманный, 5", и "Царевская площадь" премиальное банковское обслуживание
                  .content__time 5 дней
                    .content__clock 08 : 34 : 10
                .content__stockstime до 31 января
                .content__thirdwrap
                  img.content__stockimg(src='/img/moscow-863528_1280.jpg')
                  .content__discription
                    .content__discriptiontext Размещение позицонирует индустриальный стратегический маркетинг. Такой понимание ситуации восходит к Эл Райс, при этом нестандартный подход категорически экономит комлексный медиабизнес. Ценовая стратегия идуцирует бренд.
                    .content__discriptiondetails
                      .content__discriptiondetailstext Узнайте детали акции
                      .content__discriptiondetailsnum +7 495 150-XX-XX
              .content__line
              .content__morestocks
                .content__morestocksit Ещё акции
                .content__direction
                  .content__morestocksmainwrap
                    .content__morestocksimg
                      .content__morestocksimgtext До 15 января
                    .content__morestockssecondarwrap
                      .content__morestocksheader Новогодняя скидка 1 000 000 рублей в ЖК SREDA
                        .content__morestockstext Стратегия сегментации в рамках сегодняшних воззрений, категорически тормозит процесс стратегического планирования.
                    .content__morestocksthirdwrap
                      .content__morestockslost Осталось
                      .content__morestockstime
                        span 0
                        span 8
                        .content__morestocksday дней
                  .content__morestocksmainwrap
                    .content__morestocksimg.content__morestocksimg_1
                      .content__morestocksimgtext До 15 января
                    .content__morestockssecondarwrap
                      .content__morestocksheader Новогодняя скидка 1 000 000 рублей в ЖК SREDA
                        .content__morestockstext Стратегия сегментации в рамках сегодняшних воззрений, категорически тормозит процесс стратегического планирования.
                    .content__morestocksthirdwrap
                      .content__morestockslost Осталось
                      .content__morestockstime
                        span 0
                        span 8
                        .content__morestocksday дней
                  .content__morestocksmainwrap
                    .content__morestocksimg.content__morestocksimg_2
                      .content__morestocksimgtext До 31 января
                    .content__morestockssecondarwrap
                      .content__morestocksheader Новогодняя скидка 1 000 000 рублей в ЖК SREDA
                        .content__morestockstext Стратегия сегментации в рамках сегодняшних воззрений, категорически тормозит процесс стратегического планирования.
                    .content__morestocksthirdwrap
                      .content__morestockslost Осталось
                      .content__morestockstime
                        span 0
                        span 8
                        .content__morestocksday дней
          .content__otherstocks
            .content__otherstockswrapper
              .content__otherstocksheader Другие акции
              .content__otherstockswrap
                .content__otherstocksblock
                  img.content__otherstocksimg(src='/img/cc.jpeg')
                  .content__otherstocksdiscription
                    .content__otherstockstext Новогодняя скидка 1 000 000 рублей в ЖК SREDA
                    .content__otherstockslost До 31 января
                .content__otherstocksblock
                  img.content__otherstocksimg(src='/img/moscow-863528_1280.jpg')
                  .content__otherstocksdiscription
                    .content__otherstockstext Покупка автомабиля в Бэсткон - реальный шанс выиграть автомабиль
                    .content__otherstockslost До 31 января
                .content__otherstocksblock
                  img.content__otherstocksimg(src='/img/6a5287.jpg')
                  .content__otherstocksdiscription
                    .content__otherstockstext ВТБ 24 прделагает покупателям "Пресня Сити", "Басманный, 5", и "Царевская площадь" премиальное банковское обслуживание
                    .content__otherstockslost До 31 января
                .content__otherstocksblock
                  img.content__otherstocksimg(src='/img/cc.jpeg')
                  .content__otherstocksdiscription
                    .content__otherstockstext Новогодняя скидка 1 000 000 рублей в ЖК SREDA
                    .content__otherstockslost До 31 января
                .content__otherstocksblock
                  img.content__otherstocksimg(src='/img/moscow-863528_1280.jpg')
                  .content__otherstocksdiscription
                    .content__otherstockstext Покупка автомабиля в Бэсткон - реальный шанс выиграть автомабиль
                    .content__otherstockslost До 31 января
                .content__otherstocksblock
                  img.content__otherstocksimg(src='/img/6a5287.jpg')
                  .content__otherstocksdiscription
                    .content__otherstockstext ВТБ 24 прделагает покупателям "Пресня Сити", "Басманный, 5", и "Царевская площадь" премиальное банковское обслуживание
                    .content__otherstockslost До 31 января
        .content__secondary
          .content__secondarywrapper
            .content__secondaryblock
              img.content__secondaryimg(src='/img/second-bar.jpg')
              .content__secondaryheader ЖК "Прима парк", скидки до 11%
              .content__secondarytext Только раз в году, в декабре! Ипотека от 7,5%!
            .content__secondaryline
            .content__secondaryblock
              img.content__secondaryimg(src='/img/second-bar.jpg')
              .content__secondaryheader ЖК "Царицыно"
              .content__secondarytext Квартиры комфорт-класса по цене эконом! От 64000 руб./кв.м.
            .content__secondaryline
            .content__secondaryblock
              img.content__secondaryimg(src='/img/second-bar.jpg')
              .content__secondaryheader 7 км от МКАД!
              .content__secondarytext Только раз в году, в декабре! Ипотека от 7,5%!
            .content__secondaryblock
              img.content__secondaryimg(src='/img/second-bar.jpg')
              .content__secondaryheader ЖК "Прима парк", скидки до 11%
              .content__secondarytext Только раз в году, в декабре! Ипотека от 7,5%!
            .content__secondaryline
            .content__secondaryblock
              img.content__secondaryimg(src='/img/second-bar.jpg')
              .content__secondaryheader ЖК "Царицыно"
              .content__secondarytext Квартиры комфорт-класса по цене эконом! От 64000 руб./кв.м.
            .content__secondaryline
            .content__secondaryblock
              img.content__secondaryimg(src='/img/second-bar.jpg')
              .content__secondaryheader 7 км от МКАД!
              .content__secondarytext Только раз в году, в декабре! Ипотека от 7,5%!
            .content__secondaryline
            .content__secondaryblock
              img.content__secondaryimg(src='/img/second-bar.jpg')
              .content__secondaryheader ЖК "Прима парк", скидки до 11%
              .content__secondarytext Только раз в году, в декабре! Ипотека от 7,5%!
