<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Недвижимость в Москве и Подмосковье – ГдеЭтотДом.РУ
    link(rel="stylesheet", href="css/style.css")
  body
    header
      nav.menu
        .container
          .menu__wrap
            .menu__text Москва и МО
            nav.menu__item
              a.menu__link(href='#') С.-Петербург и ЛО
            nav.menu__item
              a.menu__link(href='#') Другие регионы
            nav.menu__item
              a.menu__link(href='#') Зарубежная недвижимость
            nav.menu__item
              a.menu__link(href='#') Поиск по карте
          .menu__wrap
            nav.menu__item.menu__item_advt
              a.menu__link(href='#') Разместить объявление
            nav.menu__item.menu__item_reg
              a.menu__link(href='#') Зарегестрироваться
            nav.menu__item.menu__item_join
              a.menu__link.menu__link_bor(href='#') Войти
      nav.headermenu
        .container
          .headermenu__wrap
            a(href='/')
              img.headermenu__logo(src='/img/GED-Logo.svg')
            nav.headermenu__item
              a.headermenu__link.headermenu__link_bor(href='#') Продажа
            nav.headermenu__item
              a.headermenu__link.headermenu__link_bor(href='#') Аренда
            nav.headermenu__item
              a.headermenu__link.headermenu__link_col(href='#') Спецпредложения
            nav.headermenu__item
              a.headermenu__link(href='#') Новостройки
            nav.headermenu__item
              a.headermenu__link(href='#') Поселки
            nav.headermenu__item
              a.headermenu__link(href='#') Риэлторы
            nav.headermenu__item
              a.headermenu__link(href='#') Журнал
            a(href='#')
              img.headermenu__logoabsolut(src='/img/Absolut-Logo.svg')
            img.headermenu__banner(src='/img/banner.jpg')
