@import 'fonts.styl'
*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: 0

body
  font-family: "Open Sans"
.top
	position: fixed
	bottom: 20px
	right: 20px
	width: 50px
	height: 50px
	border-radius: 100%
	cursor: pointer
	background-color: #fff
	text-align: center
	opacity: 0.4
	color: #414e5b
	transition: .5s
	z-index: 5
	.fa
		font-size: 32px
		margin-top: 7px
	&:hover
		opacity: 1
		background-color: #ecb124
.container
  display: flex
  justify-content: space-between
  margin: 0 auto
header
  width: 100%
.headermenu
  transition:all 1s linear
.fix
  position: fixed
  width: 100%
  transition:all .5s linear
  top: 0
  z-index: 900
.menu
  background: #000000
  padding: 5px
  width: 100%
  &__wrap
    display: flex
    align-items: center
    margin-left: 200px
    &_cent
      margin: 0 auto
  &__text
    color: #ffffff
    font-weight: 600
    font-size: 12px
  &__item
    padding: 0 10px
    display: flex
    align-items: center
    &_advt
      &:before
        content: ""
        background: url('../img/advt.png')
        width: 13px
        height: 14px
        display: inline-block
        margin-right: 4px
    &_reg
      &:before
        content: ""
        background: url('../img/reg.png')
        width: 18px
        height: 15px
        display: inline-block
        margin-right: 4px
    &_join
      &:before
        content: ""
        background: url('../img/join.png')
        width: 15px
        height: 15px
        display: inline-block
        margin-right: 4px
  &__link
    text-decoration: none
    color: #b9b9c3
    font-size: 12px
    &:hover
      color: #ffffff
    &_bor
      border-bottom: 1px dotted #b9b9c3
      &:hover
        border-color: #ffffff
.svg
  &:hover
    fill: cornflowerblue
.headermenu
  background: #3a3a43
  padding: 10px
  width: 100%
  &__wrap
    display: flex
    align-items: center
    margin: 0 auto
  &__logo
    width: 180px
  &__item
    padding: 0 10px
    &_col
      height: 101%
  &__link
    text-decoration: none
    color: #fff
    padding-bottom: 16px
    &:hover
      padding-bottom: 13px
      color: #ffcc00
      border-bottom: 3px solid #ffcc00
    &_col
      color: #ff7d42
      &:before
        content: ""
        background: url('../img/burn.png') no-repeat
        width: 17px
        height: 23px
        display: inline-block
      &:hover
        padding-bottom: 14px
  &__bor
    border-bottom: 1px dotted #ffffff
    &:hover
      border-color: #ffcc00
.content
  width: 100%
  &__main
    width: 100%
  &__mainbor
    margin: 24px
    border: 2px solid rgba(0,0,0,0.1)
    display: flex
    justify-content: center
  &__direction
    display: flex
    flex-direction: column
  &__mainwrap
    max-width: 976px
    min-width: 740px
    padding: 15px
  &__linkback
    text-decoration: none
    font-size: 12px
    padding-right: 5px
    color: #0072be
    &:hover
      color:#9cf
  &__header
    font-size: 22px
    max-width: 612px
  &__secondarywrap
    display: flex
    justify-content: space-between
    margin: 20px 0 10px
  &__time
    font-weight: 600
    text-align: center
  &__clock
    background: #3a3a43
    color: #ffcc00
    padding: 10px 18px
    margin-top: 5px
  &__stockstime
    color: #ffffff
    background: #ff7d42
    padding: 5px 8px
    font-size: 10px
    display: inline
    font-weight: 600
    border-radius: 2px
    text-transform: uppercase
  &__thirdwrap
    display: flex
    align-items: center
    margin-top: 35px
  &__stockimg
    width: 346px
    height: 234px
    margin-right: 15px
  &__discription
    margin-top: -70px
    font-weight: 500
    font-size: 16px
  &__discriptiondetails
    display: flex
    align-items: center
    margin-top: 20px
  &__discriptiondetailsnum
    color: #ffffff
    background:#64c741
    margin-left: 30px
    padding: 10px
    font-weight: 600
    border-radius: 4px
  &__line
    margin: 30px 0
    border: 1px solid rgba(0,0,0,0.1)
  &__morestocksit
    font-size: 18px
    margin: 0 0 20px 6px
  &__morestocksimg
    background: url('../img/6a5287.jpg') no-repeat left center / cover
    width: 422px
    height: 172px
    position: relative
    margin-right: 15px
    &_1
      background: url('../img/king_for_a_day.jpg') no-repeat top center / cover
    &_2
      background: url('../img/20per.jpg') no-repeat left center / cover
  &__morestocksimgtext
    color: #ffffff
    background: #ff7d42
    padding: 5px 8px
    font-size: 10px
    display: inline
    font-weight: 600
    border-radius: 2px
    text-transform: uppercase
    position: absolute
    top: 0
    right: 0
    margin: 10px
  &__morestocksmainwrap
    display: flex
    align-items: center
    margin: 5px 0
  &__morestocksheader
    font-weight: 600
  &__morestockstext
    font-size: 12px
    color: #8a8e92
    margin-top: 10px
  &__morestockssecondarwrap
    margin-top: -100px
  &__morestocksthirdwrap
    font-size: 12px
  &__morestockslost
    margin-bottom: 5px
  &__morestockstime
    display: flex
    justify-content: space-around
    align-items: center
    span
      background: #3a3a43
      color: #ffffff
      font-size: 14px
      font-weight: 600
      padding: 5px
      margin: 0 1px
      border-radius: 2px
  &__morestocksday
    margin-left: 4px
  &__otherstocks
    margin: 24px
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
  &__otherstocksheader
    margin-bottom: 10px
    font-size: 18px
  &__otherstockswrap
    display: flex
    flex-wrap: wrap
    max-width: 976px
    min-width: 740px
  &__otherstocksblock
    border: 1px solid rgba(0,0,0,.1)
    display: flex
    flex-direction: column
    width: calc(33.3% - 10px)
    &:hover
      box-shadow: 0 0 10px rgba(0,0,0,0.5)
      cursor: pointer
    margin: 5px
  &__otherstocksimg
    width: 100%
    height: 158px
  &__otherstocksdiscription
    margin: 15px
  &__otherstockstext
    font-weight: 600
    margin-bottom: 10px
  &__otherstockslost
    color: #ffffff
    background: #ff7d42
    padding: 5px 8px
    font-size: 10px
    display: inline
    font-weight: 600
    border-radius: 2px
    text-transform: uppercase

  &__secondary //второй контейнер
    max-width: 250px
    padding: 40px 0 0
    border-right: 1px solid black
    border-left: 1px solid black
    background: #e2e2f9
  &__secondaryline
    margin: 10px 0
    border-bottom: 1px solid rgba(0,0,0,0.1)
  &__secondarywrapper
    display: flex
    flex-direction: column
    overflow: hidden
  &__secondaryblock
    margin: 9px
  &__secondaryheader
    margin: 10px 0
    font-weight: 600
    font-size: 14px
  &__secondarytext
    color:#6d6868
    font-size: 12px



